@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@900&display=swap');

/** UNRESPONSIVE 1625 x 850 **/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #6699FF;
    color: #fff;
    font-family: 'Noto Serif HK', serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    padding: .5rem;
    border-bottom: .25rem solid blue;
}

.header-logo {
    margin: .5rem;
    padding: .5rem;
    font-family: 'Noto Serif HK', serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .75rem;
}

header nav {
    width: 60%;
    letter-spacing: .25rem;
}

header nav ul {
    display: flex;
    height: 100%;
    font-size: 2rem;
    justify-content: space-evenly;
    list-style-type: none;
}

header nav ul li {
    align-self: center;
}

header a, footer a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

/* MAIN SECTION */

main {
    display: flex;
    height: 78vh;
    align-self: center;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-primary {
    margin-top: 1rem, 2rem;
    font-size: 7rem;
}

#main-secondary {
    margin-top: 1rem;
    margin-left: 6rem;
    font-size: 2rem;
}

/** VIEW MY WORK BUTTON **/

#main-btn-work {
    margin-top: 2rem;
    margin-left: 25rem;
    padding: .5rem;
    width: 150px;
    height: 80px;
    background-color: blue;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#main-btn-work:hover {
    background-color: rgba(0, 0, 255, 0.50);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1rem;
    border-top: .25rem solid blue;
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 1rem;
    list-style-type: none;
}

footer ul li {
    align-self: center;
}

footer a {
    font-size: 20px;
    font-weight: bold;
}

/** MISC ACCENT COLORS **/
.accent {
    color: blue;
}

a:hover {
    color: rgba(0, 0, 255, 0.75);
}